rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /clientes/{document} {
      // Permite apenas criação de documentos na coleção "clientes".
      // Avalie aplicar regras adicionais de autenticação conforme necessário.
      allow create: if true;
      allow read, update, delete: if false;
    }
  }
}
