rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /clientes/{document} {
      // Permite criação e leitura dos cadastros de clientes.
      // Avalie aplicar regras adicionais de autenticação conforme necessário.
      allow create: if true;
      allow read: if true;
      allow update, delete: if false;
    }
  }
}
